ion-segment-button {
    background-color: var(--ion-color-primary) !important;
    color: var(--ion-color-medium) !important;
}

.segment-button-checked {
    color: var(--ion-color-light) !important;
}



.rdg-expertise-bar {
    margin: auto;
    height: 55px;
    width: 10px;
    overflow: hidden;
}



.rdg-brief-bg {
    background-color: #fba853;
}

.rdg-success-bg {
    background-color: #ae62a7;
}

.rdg-insights-bg {
    background-color: #35c1d1;
}

.rdg-strategy-bg {
    background-color: #becd30;
}

.rdg-implementation-bg {
    background-color: #ed193a;
}




/* div {
  border: #d12a45 1px dotted; 
} */



  