<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title color='light'>
            Calendario
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>



    <ion-calendar (change)="onChange($event)" [type]="type" [format]="'YYYY-MM-DD'">
    </ion-calendar>


    <ion-fab vertical='bottom' horizontal='end' slot='fixed'>
        <ion-fab-button (click)="multiple()">
            <ion-icon name='add'></ion-icon>
        </ion-fab-button>
    </ion-fab>

    <!--
    <div *ngIf="selectedItem" padding>
      You navigated here from <b>{{selectedItem.title }}</b>
    </div>
  -->
</ion-content>